
* {
    margin: 0;
    /* padding: 0; */
    /* width: 560vh; */
    background-color:whitesmoke;
    text-align: center;
}

h1 {
    background-color: blueviolet;
    color: whitesmoke;
    text-align: center;
    padding: 10px 0 10px 0;
}

.container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



label {
    display: block;
    margin: auto;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: blueviolet;
}

label #birthdate{
    display: block;
    margin: auto;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}

input{
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border-color: blueviolet;
    border-width: 2px;
    color: blueviolet;
}

button{
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: aliceblue;
    background-color: blueviolet;
    font-size: large;
}

#output-div{
    text-align: center;
    padding: 10px;
    border: solid 2px;
    margin-top: 20px;
    min-height: 100px;
    height: fit-content;
    width: 60%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border-color: blueviolet;
    font-size: 20px;
    font-weight: 600;
    color: blueviolet;
    border-width: 3px;
}